body{
    margin:0;
    padding-top: 550 px;
    text-align: center;
}

.profile{
    border-radius: 50%;
}

#welcome{
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00ffff 0%, rgb(153, 49, 137) 100%);
    display: table;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

h2{
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#line{
    width:60px;
    height: 6px;
    margin: 8px auto;
    background-color: aquamarine;
}

.parralex-inner{
    display: table-cell;
    vertical-align: middle;
}

#bio{
    padding: 50px;
    margin-top: 600px;
}

.menu{
    z-index: 1000;
    position: absolute;
    list-style: none;
    top: 10px;
    margin-left: 400px;
    cursor: pointer;
}

.links{
    float: left;
    padding: 10px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

iframe{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

a:hover{
    font-size:25px;
}